*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: linear-gradient(to right, #283048, #859398);
    color: #f1f1f1;
    padding: clamp(20px, 5vw, 50px) 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.restart-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width:30px;
    height: 30px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.restart-btn p {
    font-size: 10px;
}

h1 {
    font-family: Playfair Display SC, sans-serif;
}

h1 span {
    font-weight: 100;
    font-size: 15px;
}

.grid-container {
    margin: 30px;
    width: 300px;
    height: 300px;
    display: grid;
    background-color: #090f29;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    user-select: none;
}

.grid-items {
    width: 100%;
    height: 100%;
    border: #f1f1f1 1px solid;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}


p {
    font-size: 25px;
}